* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    background-image: linear-gradient(to right, #bdc3c7, #c4e0e5);
}

.navbar {
    background-color: #F8F9FA;
}

#nav-btn {
    border: none;
}

#nav-btn:focus {
    outline: none;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    padding: 5px;
}


#navPhoto {
    border-radius: 5px;
    opacity: .8; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    
}

#navTitle {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #333333;
    margin: auto;  
    font-size: 15px; 
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); 
}


.trending-new{
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

ul.nav-tabs {
    margin-bottom: 0;
    box-shadow: 0px 15px 10px -15px #111;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    padding:5px;
    width: 85px;
    height: 25px;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 2px;
}

p {
    margin-bottom: 8px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: grey;
    color: white;
  }

.card-text {
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    line-height: 1.5;
    padding: 5px;
    font-size: .9rem;
    box-shadow: 0px 15px 10px -15px #111;
}

.card-block {
    position: relative;
    margin:  auto  0;
    text-emphasis: center;
    padding-left: 1em;
    border: none;
    padding: 10px;
}
.card-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 5px;
    border: none;
    padding: 0;
    background-color: none;
    width:100px;
    height:100px;
    object-fit: contain;
    overflow: hidden;
    border-radius: .28571429rem;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4); 
}

.card-img {
    height: 100%;
}

.scroll-btn {
    
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
    border: none;
    opacity: 0.8;
}

.scroll-btn:hover {
    text-decoration: none;
    color: gray;
}

@media (max-width: 767px) { 
    #menu-ul {
        text-decoration: none;
        border: none;
    }

    .card-text {
        font-weight: 400;
    }


}

@media (min-width: 400px) { 
    #navTitle {
        font-size: 20px;
    }
}

@media (min-width: 850px) { 
    

    .main-container {
        margin: 0 10%;
    }
   }

   @media (min-width: 1000px) { 
    .card-text {
        font-size: 1rem;
    }


@media (min-width: 1100px) { 
    #navTitle {
        font-size: 30px;
    }

    .card-text {
        font-size: 1rem;
    }

    #navPhoto {
        height: 35px;
    }

    .main-container {
        margin: 0 20%;
    }
   }
