* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    background-image: linear-gradient(to right, #bdc3c7, #c4e0e5);
}

#navPhoto {
    border-radius: 25px;
    opacity: .5;
}

#navTitle {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;  
    font-size: 15px;  
    font-weight: bold;
}

ul {
    margin-bottom: 0;
}

footer {
    height: 60px;
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: white;
  }

  .title {
 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-text {
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    padding: 5px;
}

.card-block {
    position: relative;
    font-size: 1em;
    margin:  auto  0;
    text-emphasis: center;
    padding: 1em;
    border: none;
    box-shadow: none;   
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.scroll-btn {
    
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
    border: none;
    opacity: 0.8;
}

.scroll-btn:hover {
    text-decoration: none;
    color: gray;
}

@media (min-width: 400px) { 
    #navTitle {
        font-size: 20px;
    }
}

@media (min-width: 850px) { 
    

    .main-container {
        margin: 0 10%;
    }
   }


@media (min-width: 1100px) { 
    #navTitle {
        font-size: 30px;
    }

    #navPhoto {
        height: 35px;
    }

    .main-container {
        margin: 0 20%;
    }
   }
